<h1>seats information </h1>

<ul>
  <% @seats.each do |seat| %>
    <li><%=seat.seatnumber %></li>
  <% end %>
</ul>
<%= link_to 'New Seat', new_seat_path(@seat) %>
<%#= link_to 'Back', cinemas_path %>

