<h1>seat information </h1>

<%= link_to "new seat",    new_seat_path %>
  <table>
    <thead>
      <tr>
        <th>seatnumber</th>
        <th>Action</th>
      <tr>
    </thead>

    <tbody>
      <% @seats.each do |seat| %>
        <tr>
          <td><%= seat.seatnumber %></td>
        <tr>
      <% end %>
    </tbody>
  </table>