<h1> select your seat for this show </h1>

<div class="row">
  <% @seats.each do |seat| %>
    <div class="col-md-1">
      <div class="card">
        <div class="card-body">
          <a id="seat-num" href="" value = '' onclick="myFunction()"><%= seat.seatnumber %></a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  function myFunction()
  const count = document.getElementById("seat-num").innerHTML;

// Variable to track count
  var array = [];
  debugger
  array.push(count)
  console.log(array)

</script>

