<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Include jQuery UI -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



 <%= form_with url:  dashboards_path, local: true, method: :get do |f| %>
   <div class="form-group">
     <h1>select your city</h1>
       <%= f.label :name %>
       <%= f.select :city, options_for_select(City.all.pluck(:name), @city.name) %>
   </div>

   <div>
    <%= submit_tag 'select', class: "btn btn-primary btn-block mt-2" %>
   </div>
 <% end %>


