<div class= "row">
    <div class = "col-md-1"><%= @movie.name%></div>
      <%@showtimes.each do |showtime|%>
          <div class= "col-md-1">
            <%= link_to seats_path(cinema_id: @cinema_id) do %>
              <div class="card">
                <div class="card-body">
                  <p class="card-text"><%= showtime.startime.strftime('%I:%M %p')%></p>
                </div>
              </div>
            <% end %>
          </div>
      <% end %>
</div>







