 <h1>All Cinema</h1>

<%= link_to "new cinema",  new_cinema_path %>
  <table>
    <thead>
      <tr>
        <th>cinema name</th>
        <th>action </th>
      <tr>
    </thead>

    <tbody>
      <% @cinemas.each do |cinema| %>
        <tr>
          <td><%= cinema.name %></td>
          <td><%= link_to "view", cinema%></td>
        <tr>
      <% end %>
    </tbody>
  </table>
