<h1>cinema name:<%= @cinema.name %></h1>


  <%= link_to "Edit", edit_cinema_path(@cinema) %>
  <%= button_to "Destroy", cinema_path(@cinema), method: :delete, data: { confirm: 'Are you sure?'} %>
  <%= link_to "back", cinemas_path %>
