<div class="row">
  <% @cinemas.each do |cinema| %>
    <div class="col-md-1">
      <p><%= cinema.name %></p>
    </div>
    <% @showtimes.each do |showtime| %>
      <div class="col-md-1">
      <%#binding.pry %>
        <%= link_to  show_seat_seats_path(cinema_id: @cinemas[0].id, showtime_id: showtime.id, movie_id: @movie.id) do %>
        <%= hidden_field_tag 'cinema_id', @cinemas[0].id %>
          <div class="card">
            <div class="card-body">
              <p class="card-text showtime" href= "" ><%= showtime.startime.strftime('%I:%M %p') %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>