<div class="row">
  <% @cinemas.each do |cinema| %>
    <div class="col-md-1">
      <p><%= cinema.name %></p>
    </div>
    <% @showtimes.each do |showtime| %>
      <div class="col-md-1">
        <%= link_to  show_seat_seats_path(cinema_id: cinema.id, showtime_id: showtime.id, movie_id: @movie.id) do %>
        <% binding.pry %>
        <%= hidden_field_tag 'cinema_id', cinema.id %>
          <div class="card">
            <div class="card-body">
              <p class="card-text showtime"><%= showtime.startime.strftime('%I:%M %p')%>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<%# <script type="text/javascript">
function showCinema(){
    var cinema = document.getElementByClassName('get_cinema').value;
    document.getElementById('cinema_id').value = cinema;
  }
</script> %>

<%#= link_to "back",root_path(@cinemas , @showtimes) %>

<%# href= "" class="get_cinema" onClick='showCinema()' %>